.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.main-wrapper-content {
	display: grid;

	grid-template-columns: 1fr 3fr;
	gap: 30px;
	grid-template-areas:
		"header  header"
		"sidebar content";
}

.main-wrapper-content header {
	grid-area: header;
}
.main-wrapper-content aside {
	grid-area: sidebar;
}
.main-wrapper-content article {
	grid-area: content;
}


.content > div {
  display:flex;
}